$gap: 32px;
$gray-bg: #f6f6f6;
$gray-text-color: #999999;
$light-text-color: #ffffff;
$firm-color-1: #ff862f;
$firm-color-2: #a65cf0;
$dark-text-color: #333;
$radius: 10px;
$mb-section: 70px;
$p-card: 30px;
